<div class="row">
  <div class="review-cards">
    <% bookings.each do |booking| %>
      <div class="review-card text-center">
          <div class="review-card-body">
            <div class="review-card-description">
              <p> Beginning: <%= booking.date_begin %> </p>
              <p> End: <%= booking.date_end %> </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>