<div class="row">
  <div class="review-cards">
    <% bookings.each do |booking| %>
      <div class="review-card text-center">
          <div class="review-card-body">
            <div id="booking-card-description">
              <p>Your trip starts on <strong><%= booking.date_begin %></strong> and ends on <strong><%= booking.date_end %>.</strong></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
