<div class="card">
  <div class="card-location">Brussels</div>
  <div class="card-description">
    <h2>3,76€/day</h2>
    <p>Smelly, but just a bit</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div>
