
<div class="mapboxgl-popup">
  <div class="mapboxgl-popup-content" style="padding-top: 20px;">
    <p><strong><%= flat.title %></strong></p>
    <p><em>Rating:</em> <%= "★" * flat.average %><%= "☆" * (5 - flat.average ) %></p>
    <p> Price: <%= flat.price %>€</p>
  </div>
</div>
