<div class="row">
  <div class="review-cards">
    <% reviews.each do |review| %>
      <div class="review-card text-center">
          <div class="review-card-body">
            <div class="review-card-description">
              <p> <%= review.user.first_name.nil? ? "Anonymous" :   review.user.first_name %> says <em>"<%= review.content %>"</em></p>
              <p> Rating: <%= "★" * review.score %><%= "☆" * (5 - review.score ) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
