<div class="wrapper">
  <div class="home-container">
    <div class="banner"">
      <div class="banner-content">
        <h1 class="title-main">Find your next adventure</h1>
        <p class="catch-phrase">A new destination awaits.</p>
        <div class="bloodhound">
          <%#= link_to "View all flats", flats_path,class: "btn btn-primary" %>

          <%= form_tag flats_path, method: :get do %>
            <%= text_field_tag :query, params[:query], class: "form-control js-searchbar", id:"tags", placeholder: "Find a flat", autocomplete:"off" %>
          <% end %>
          
        
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-wrapper">
    <h3>Trip suggestions</h3>
    <%= render 'shared/carousel' %>
  </div>
</div>
