<div class="wrapper">
  <div class="home-container">
    <div class="banner"">
      <div class="banner-content">
        <h1 class="title-main">Find your next adventure</h1>
        <p class="catch-phrase">A new destination awaits.</p>
        <div>
          <%= link_to "View all flats", flats_path,class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>



  <div class="carousel-wrapper">
    <h3>Trip suggestions</h3>
    <%= render 'shared/carousel' %>
  </div>


</div>
