<div class="wrapper">
  <div class="container" id="banner-big">
    <div class="banner"">
      <div class="banner-content">
        <h1 class="title-main">PoorB&B</h1>
        <p class="catch-phrase">An experience you will never forget</p>
        <%# <a class="btn btn-primary btn-lg">Start now</a> %>

        <%= button_to "View all flats", flats_path, :id => "all_flats_button",
      :class => "btn btn-primary", :method => :get %>

      </div>
    </div>
  </div>
  <div class="container" id="suggestion-row">
    <div class="cards-row">
      <div>
        <%= render 'shared/card' %>
      </div>
      <div>
        <%= render 'shared/card' %>
      </div>
      <div>
        <%= render 'shared/card' %>
      </div>
    </div>
  </div>
</div>
