// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";

.wrapper {
  display:flex;
  padding:0;
  width:100%;
  justify-content: center;
}

// .wrapper > * {
//   flex: 1 100%;
// }