.flat-header {
  margin-top: 30px;
  background-size: cover;
  position: relative;
  height: 300px;
  width: 100%;
  h1 {
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
}


.container-background  {
  margin-top: 100px;
  background-color: white;
}

.flat-description {
  margin-top: 40px;
}
