.container-background  {
  margin-top: 100px;
  padding:35px;
  background-color: #65c6c4;
  border-radius: 4px;
}

.flat-header {
  background-size: cover;
  position: relative;

  height: 300px;

  border-radius: 4px;
  h1 {
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
}

.flat-description {
  margin-top: 40px;

}
